<div class="jumbotron">
   <h1>Binance Public API Toolkit</h1>
   <p class="lead">Binance Public API Toolkit is a toolkit for the Binance Public API.</p>
</div>
<div class="row">
   <div class="col-md-4">
      <h2>About</h2>
      <p>The Binance Public API Toolkit provide a variety of tools designed to advance your trading skills to the next level.</p>
      <p>This toolkit focusses on "offline" tools that is used without the need of signing into the Binance Exchange.</p>
   </div>
   <div class="col-md-4">
      <h2>Getting Started</h2>
      <p>Our extensive range of sophisticated tools were designed with simplicity, usability, and user friendliness in mind.</p>
      <p>To use the Binance Public API Toolkit, follow the link below.</p>
      <p><a class="btn btn-default" href="@Url.Action("Index", "Toolkit")#Toolkit">Toolkit &raquo;</a></p>
   </div>
   <div class="col-md-4">
      <h2>Binance Signed API Toolkit</h2>
      <p>The Binance Signed API Toolkit is a collection of tools that requirs signing into the Binance Exchange.</p>
      <p>To learn more, follow the link below.</p>
      <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
   </div>
</div>